{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}

<div class="container sign-in-box">
    <form method="POST">
        <!-- Email and Username inputs -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="example@example.com" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Agamy" required>
            </div>
        </div>

        <!-- Password and Re-Enter Password -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="pass1" placeholder="*******" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPasswordConfirm">Re-Enter Password</label>
                <input type="password" class="form-control" id="inputPasswordConfirm" name="pass2" placeholder="*******" required>
            </div>
        </div>

        <!-- Age and Gender inputs -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAge">Age</label>
                <input type="number" class="form-control" id="inputAge" name="age" min="0" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputGender">Gender</label>
                <select id="inputGender" class="form-control" name="gender" required>
                    <option value="other" selected>Other</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

{% endblock %}
