{% extends "base.html" %}
{% block title %}Users List{% endblock %}
{% block content %}

<!-- 
  This template extends the base.html template and populates the content block with a table displaying a list of users.
-->

<div class="container sign-in-box mt-3">
    <!-- Table to display the list of users -->
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- Table headers -->
                <th scope="col">username</th>
                <th scope="col">email</th>
                <th scope="col">age</th>
            </tr>
        </thead>

        <tbody>
            <!-- Iterate over the 'users' list and display each user's details in a table row -->
            {% for user in users %}
            <tr>
                <td><a href="/{{user.username}}">{{user.username}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
