{% extends "base.html" %}
{% block title %}{{user}}{% endblock %}
{% block content %}
<!-- {{user}}
{% for post in posts%}
{{post.content}}
{% endfor %} -->
<div class="container">
    <h1 align="center">{{user.username}}</h1>
    <!-- {% for post in posts %} -->
    <!-- <div class="card border-dark">
    <div class="card-body">
        {{ post.content }}
        {{ post.user.username }}
    </div>
</div>
<br> -->
    <!-- {% endfor %} -->
</div>
<div class="container mt-4">
    {% for post in posts %}

    <div class="card mb-4">
        <div class="card-header">
            {{post.title}}
            <a href="#" class="btn btn-danger" style="float: right;">DELETE POST</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>

            <p class="card-text">{{post.content}}</p>
            <!-- <a href="#" class="btn btn-primary">Read More</a> -->
        </div>
        <div class="card-footer text-muted">
            Posted on {{post.date_created}}, by <a href="/{{post.user.username}}">{{post.user.username}}</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}