{% extends "base.html" %}
{% block title %}{{user}}{% endblock %}
{% block content %}
<!-- {{user}}
{% for post in posts%}
{{post.content}}
{% endfor %} -->
<style>
.small-img {
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Maintain aspect ratio */
  }
</style>

<div class="container-fluid">
    <h1 align="center">{{user.username}}</h1>
    <div class="container-fluid mt-2">
        <div class="card">
          <div class="card-header">
            Profile
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <b>Username: </b> {{ user.username }} <br />
                <b>Email: </b> {{ user.email }} <br />
                <b>Age: </b> {{ user.age }} <br />
                <b>Gender: </b> {{ user.gender }} <br />
                <b>Member Since: </b> {{ user.date_added }} <br />
              </div>
              <div class="col-sm">
                {% if img %}
                <img src="{{ url_for('static', filename='photos/profile_pictures/' +img.filename) }}"
                class="img-thumbnail rounded float-right small-img ">
      
                {% else %}
                <p>No profile picture available</p>
                {% endif %}

            </div>
            </div>
          </div>
        </div>
      </div>
    <!-- {% for post in posts %} -->
    <!-- <div class="card border-dark">
    <div class="card-body">
        {{ post.content }}
        {{ post.user.username }}
    </div>
</div>
<br> -->
    <!-- {% endfor %} -->
     <hr>
    <h2 align="center" class="m-3">posts</h2>
    {% for post in posts %}

    <div class="card mb-4">
        <div class="card-header">
            {{post.title}}
            <a href="#" class="btn btn-danger" style="float: right;">DELETE POST</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>

            <p class="card-text">{{post.content}}</p>
            <!-- <a href="#" class="btn btn-primary">Read More</a> -->
        </div>
        <div class="card-footer text-muted">
            Posted on {{post.date_created}}, by <a href="/{{post.user.username}}">{{post.user.username}}</a>
        </div>
    </div>

    {% endfor %}
{% endblock %}